# Virtual environment
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
env.bak/
venv.bak/

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Database
db.sqlite3
*.log

# Environment
.env

# OS
.DS_Store
Thumbs.db
